.page-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100vh;
    opacity: 0;

    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 30px;
    color: white;

    transition: opacity 0.3s ease-in-out;

    &--visible {
        opacity: 1;
        bottom: 0;
    }
}